.slider {
  margin: 0 auto;
  position: relative;
}

.slider__wrapper {
  max-width: 1400px;
  overflow: hidden;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;

  width: 9999px;
  display: flex;
  gap: 15px;

  @media(max-width: 1630px) {
    width: auto;
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media(max-width: 1465px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(max-width: 1115px) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  @media(max-width: 725px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.slider__item {
  max-width: 335px;
}

.slider__button {
  width: 40px;
  height: 40px;

  border: none;

  background-color: transparent;

  cursor: pointer;

  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  &:disabled {
    opacity: 0.5;
  }

  @media(max-width: 1630px) {
    display: none;
  }
}

.slider__button--prev {
  left: -86px;
  top: 50%;
  transform: translateY(-50%);
}

.slider__button--next {
  right: -86px;
  top: 50%;
}


